Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override,
  readability-container-size-empty,
  readability-redundant-string-cstr
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
